#editorButtonGroup {
  padding: 0;
}

.subjectEditor {
  margin-top: 0;
  padding: 0;
}

.subjectEditorButton {
  margin: 0;
  height: 38px !important;
}

.mobilePreviewFrame {
  position: relative;
  margin: auto;
  border: 16px #969696 solid;
  border-radius: 36px;
}

.mobilePreviewFrame:before {
  content: '';
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

.mobilePreviewFrame.portrait:before {
  width: 60px;
  height: 5px;
  top: -30px;
  left: 50%;

}

.mobilePreviewFrame.landscape:before {
  height: 60px;
  width: 5px;
  left: -30px;
  top: 50%;
}

.mobilePreviewFrame:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

.mobilePreviewFrame.portrait:after {
  left: 50%;
  bottom: -65px;

}

.mobilePreviewFrame.landscape:after {
  top: 50%;
  right: -65px;
}

.mobilePreviewFrame.portrait {
  width: 375px + 32px;
  height: 667px + 120px;
  border-top-width: 60px;
  border-bottom-width: 60px;
}

.mobilePreviewFrame.landscape {
  width: 667px + 120px;
  height: 375px + 32px;
  border-left-width: 60px;
  border-right-width: 60px;
}

.mobilePreviewContent.landscape {
  position: absolute;
  width: 667px;
  height: 375px;

  .cardContent {
    height: 255px;
  }

  #flashcardSidebarLeft, #flashcardSidebarRight {
    margin-bottom: $sidebar_yOffset_landscape_mobile !important;
  }
}

.mobilePreviewContent.portrait {
  position: absolute;
  width: 375px;
  height: 667px;

  .cardContent {
    height: 550px;
  }

  #flashcardSidebarLeft, #flashcardSidebarRight {
    margin-bottom: $sidebar_yOffset_portrait_mobile !important;
  }
}

.mobilePreviewContent {
  .cardContent {
    padding: $padding_card_content_vertical_mobile $padding_card_content_horizontal_mobile !important;

    ul, ol {
      padding-left: 20px;
    }
  }

  .card-container {
    margin-top: 10px;
  }

  .cardHeaderSmallText {
    font-size: $font_size_card_header_small_text_mobile;
  }

  .cardHeaderSmallerText {
    font-size: $font_size_card_header_smaller_text_mobile;
  }

  .cardHeaderLeft {
    padding: ($card_header_padding / 2) 0 0 ($card_header_padding / 2);

    .cardHeaderItem {
      margin-right: $card_header_item_margin_horizontal / 2;
    }

    line-height: $line_height_card_header_mobile !important;
  }

  .cardHeaderCenter {
    padding: ($card_header_padding / 2) ($card_header_padding / 2) 0 ($card_header_padding / 2);
    line-height: $line_height_card_header_mobile !important;
    white-space: nowrap;
  }

  .cardHeaderRight {
    padding: ($card_header_padding / 2) ($card_header_padding / 2) 0 0;

    .cardHeaderItem {
      margin-left: $card_header_item_margin_horizontal / 2;
    }

    line-height: $line_height_card_header_mobile !important;
  }

  .cardCounter {
    margin-left: -$padding_card_content_horizontal_mobile;
    margin-top: -$padding_card_content_vertical_mobile;
  }

  #flashcardSidebarLeft, #flashcardSidebarRight {
    width: $sidebar_width_mobile !important;
    transform: scaleY(-1);


    i, span, img, button {
      margin-top: $sidebar_button_margin_mobile !important;
    }

    .card-button {
      transform: scaleY(-1);
    }
  }
}
